# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# AI model weights
*.pt
*.onnx
*.h5

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db